
    <link rel="stylesheet" type="text/css" href="<%= url("/toys.css")%>">

    <!-- COLOR BACKGROUND ROW -->
    <div class="col-xs-12 col-md-4 colorRow">
    </div>

    <div class="container indexContainer">
      <!-- Example row of columns -->
      <div class="row">

        <!-- NEW TOY -->
        <div class="col-xs-12 col-md-4 newToyMainSection">
          <p><a class="btn addToy" href="toys/new" role="button">
            <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
          </a></p>
          <h3>Add New Toy</h3>
        </div>
      </div>

      <div class="row toysAll">
        <!-- LIST OF ALL TOYS -->
        <div class="col-xs-12 col-md-4 allToysSection">
          <h2>Toy Inventory</h2>
          <ul>
          <% @toys.each do |t| %>
            <li>
              <a href="toys/<%= t.id %>">
              <%= t.name %>, <%= t.age_group.age %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

