

    <!-- COLOR BACKGROUND ROW -->
    <div class="col-xs-12 col-md-4 colorRow">
    </div>

    <div class="container indexContainer">
      <!-- Example row of columns -->
      <div class="row">

        <!-- NEW BOX -->
        <div class="col-xs-12 col-md-4 newToyMainSection">
          <p><a class="btn addBox" href="boxes/new" role="button">
            <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
          </a></p>
          <h3>Create New Box</h3>
        </div>
      </div>

      <div class="row boxesAll">
        <!-- LIST OF ALL BOXES-->
        <div class="col-xs-12 col-md-4 allBoxesSection">
          <h2>Box Inventory</h2>
          <ul>
          <% @boxes.each do |b| %>
            <li>
              <a href="boxes/<%= b.id %>">
              <%= b.name %>, <%= b.age_group.age %>
              </a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

